# Ignore all files in out/ except application.properties
/out/*
!/out/application.properties
*.class

# Logs
*.log

# IDE files
/.idea/
*.iml
*.ipr
*.iws
/.vscode/

# OS files
.DS_Store
Thumbs.db

# Libraries
/lib/

# Misc
*.swp